.header {
    background-image: url(../images/header-bg.jpg);

    background-image: image-set(
    url('../images/header-bg.avif') type('image/avif'),
    url('../images/header-bg.webp') type('image/webp'),
    url('../images/header-bg.jpg') type('image/jpeg')
    );

    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

/*25:31*/